<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div>
            <li>Buscar productos, marcas y más</li>
            <li>Comprá en cuotas y sin tarjeta de crédito</li>
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="100" height="100" >
        </div>
        <section>
            <ul>
                <li>Lugar para poner la barra de búsqueda</li>
                <li>Comprá en cuotas y sin tarjeta de crédito</li>
            </ul>
        </section>
        <section>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

            </ul>
        </section>
        <section>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis Compras</a></li>
            </ul>
            <section></section>    
        </section>
    </header>
    <main>
        <section>
            <ul>
                <li>Basado en tu última visita</li>
                <img src="/images/img-cafetera-moulinex.jpg"></li>
                <li>$ 6770</li>
                <li>40% OFF</li>
                <li>Cafetera Moulinex</li>
            </ul>     
        </section>
        <section>
            <ul>
                <li>Basado en tu última visita</li>
                <img src="/images/img-macbook-pro-2019.jpg"></li>
                <li>$ 6770</li>
                <li>40% OFF</li>
                <li>Mac book pro</li>
            </ul>     
        </section>
        <section>
            <ul>
                <li>Basado en tu última visita</li>
                <img src="/images/img-samsung-galaxy-s10.jpg"></li>
                <li>$ 6770</li>
                <li>40% OFF</li>
                <li>Samsung Galaxy</li>
            </ul>     
        </section>
        <section>
            <ul>
                <li>Basado en tu última visita</li>
                <img src="images/img-tv-samsung-smart.jpg"></li>
                <li>$ 23.200</li>
                <li>5% OFF</li>
                <li>SmartTv Samsung 43"</li>
            </ul>     
        </section>
    </main>
    <footer>
        <div>
            <nav>

            </nav>
        </div>

    </footer>

</body>
</html>