@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



h3 {
  font-size: 24px;
}

h4 {
  font-size: 1.5em;
}

.headlines {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #666;
}

p {
  font-size: 12px;
}
