<%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>
    <main>
        <section>
            <img src="/images/img-home-banner.jpg">
        </section>
        <h2 class="headlines">BASADO EN TU ÚLTIMA VISITA</h2>
        <section>
            
            <div class="main-article">
                <li>Basado en tu última visita</li>
                <i class="icon fas fa-truck" id="truck"></i>
                <img src="/images/products/img-cafetera-moulinex.jpg">
                <li>$ 6770</li>
                <li>40% OFF</li>
                <h4 class="description">Cafetera Moulinex</h4>
            </div>     
        </section>
        <section>
            <div class="main-article">
                <li>Basado en tu última visita</li>
                <i class="icon fas fa-truck" id="truck"></i>
                <img src="/images/products/img-macbook-pro-2019.jpg"></li>
                <li>$ 230.000</li>
                <li>20% OFF</li>
                <h4 class="description">Mac book pro 2019</h4>
            </div>     
        </section>
        <section>
            <div class="main-article">
                <li>Basado en tu última visita</li>
                <i class="icon fas fa-truck" id="truck"></i>
                <img src="/images/products/img-samsung-galaxy-s10.jpg"></li>
                <li>$ 70.500</li>
                <li>10% OFF</li>
                <h4 class="description">Samsung Galaxy S10</h4>
            </div>     
        </section>
        <section>
            <div class="main-article">
            <li>Basado en tu última visita</li>
                <i class="icon fas fa-truck" id="truck"></i>
                <img src="images/products/img-tv-samsung-smart.jpg"></li>
                <li>$ 23.200</li>
                <li>5% OFF</li>
                <h4 class="description">SmartTv Samsung 43"</h4>
            </div>     
        </section>

        
        <section class="offers">
            <h2 class="headlines">SECCIÓN DE OFERTAS</h2>   
            <div class="products">
                <article class="product">
                    <img src="/images/products/img-cafetera-moulinex.jpg"></li>
                    <div class="main-article">
                        <i class="icon fas fa-truck" id="truck"></i>
                        <li>$ 6770</li>
                        <li>40% OFF</li>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="main-article">
                        <i class="icon fas fa-truck" id="truck"></i>
                        <img src="/images/products/img-macbook-pro-2019.jpg"></li>
                        <li>$ 230.000</li>
                        <li>20% OFF</li>
                        <h4 class="description">Mac book pro 2019</h4>
                    </div>     
                </article>
                <article class="product">
                    <div class="main-article">
                        <i class="icon fas fa-truck" id="truck"></i>
                        <img src="/images/products/img-samsung-galaxy-s10.jpg"></li>
                        <li>$ 70.500</li>
                        <li class="discount">10% OFF</li>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>     
                </article>
                <article class="product">
                    <div class="main-article">
                        <i class="icon fas fa-truck" id="truck"></i>
                        <img src="images/products/img-tv-samsung-smart.jpg"></li>
                        <li>$ 23.200</li>
                        <li>5% OFF</li>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>     
                </article>
            </div>
        </section>
    </main>

    <%- include('partials/footer')  %>
</body>
</html>