<footer class="footer-style">

  <div class="footer-container">
      <div class="logo-container">
        <div ><img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="100" height="100" ></div>
    </div>
    <div class="flex-item-left">

      <section>
        <ul>
          <li>Pagá con tarjeta o en efectivo</li>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
          <li>Envío gratis desde $ 2.500</li>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
          <li>Seguridad, de principio a fin</li>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
          <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>      
      </section>

      <h3>Menu</h3>
      <ul class="lista">
        <li><a href="/products/catalogue">Nuestros productos</a></li>
        <li><a href="/contact">Contactanos</a></li>
        <li><a href="/about">Quienes Somos</a></li>
      </ul>

    </div>
    <div class="flex-item-left">
      <h3>Contacto</h3>
      <ul class="lista">
        <li><i class="icon fas fa-envelope"></i>
          <a> contacto@freemercado.com</a></li>
        <li><i class="icon  fas fa-phone-alt"></i></a>
          <a>+82 10 74264379</a>
      </ul>
    </div>

    <div class="flex-item-left">
      <h3>Seguinos</h3>
      <ul class="lista">
        <a href="#"><i class="icon fab fa-instagram"></i></a>
        <a href="#"><i class="icon fab fa-facebook-square"></i></a>
        <a href="#"><i class="icon fab fa-twitter"></i></a>
      </ul>
    </div>
  </div>
</footer>